/****************************/
/** BELOW 1300px (Smaller Desktop)*/
/*****************************/

@media (max-width: 81.25em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .step-description {
    font-size: 1.6rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
    line-height: 1.6;
  } */
}

/****************************/
/** BELOW 1200px (Landscape Tablet)*/
/*****************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /* 9/16px */
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .delivered-text {
    font-size: 1.5rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 9.6rem 9.6rem;
    padding: 0 3.2rem;
  }
}
/****************************/
/** BELOW 980px (Potrait Tablet)*/
/*****************************/
@media (max-width: 61.25em) {
  html {
    font-size: 50%; /* 8 / 16px */
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .hero-description {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .hero-img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .featured-logos img {
    height: 2.4rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .step-number {
    font-size: 5.4rem;
  }

  .card-meal-body {
    padding: 1.8rem 1.8rem 3.6rem;
  }
}

/****************************/
/** BELOW 740 px (Mini Tablet)*/
/*****************************/
@media (max-width: 46.25em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  /* 
  section {
    padding: 4.8rem 0 !important;
  } */
  .testimonial-container {
    padding: 4.8rem 3.2rem;
  }
  .footer {
    padding: 6.4rem 0;
  }
  .grid:not(:last-child) {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    padding: 3.2rem;
    width: 100%;
  }
  .pricing-plan--complete::before {
    top: 6%;
    right: -20%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 7.2rem;
    gap: 6.4rem;
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-logos img {
    height: 2.2rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 60rem;
    order: -1;
    border-bottom: 1px solid rgba(69, 38, 10, 0.5);

    background-repeat: no-repeat;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  /* MOBILE MENU */

  /* When NAV is closed */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(101%);

    transition: all 0.4s ease-in;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 5.4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* When NAV is opened */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  /* Footer */
  .grid--footer {
    justify-items: center;
    grid-template-columns: none;
    grid-template-areas:
      "nav1 nav1 nav2 nav2 nav3 nav3"
      "logo logo logo address address address";

    text-align: center;
  }
  .social-links {
    margin: 0 auto;
  }

  .logo-col {
    grid-area: logo;
  }
  .address-col {
    grid-area: address;
  }
  .nav-col:nth-child(3) {
    grid-area: nav1;
  }
  .nav-col:nth-child(4) {
    grid-area: nav2;
  }
  .nav-col:nth-child(5) {
    grid-area: nav3;
  }
}

/****************************/
/** BELOW  640px (Phones)*/
/*****************************/
@media (max-width: 40em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
  }
  .heading-tertiary {
    margin-bottom: 2rem;
  }

  .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2rem 1.6rem;
    font-size: 1.6rem;
  }
  .section-featured {
    padding: 2.4rem 0;
  }

  .section-how,
  .section-meals,
  .section-cta,
  .section-pricing,
  .footer {
    padding: 4.8rem 0;
  }

  .feature {
    text-align: center;
  }

  .featured-logos {
    font-size: 0.8rem;
    justify-content: center;
    column-gap: 2.4rem;
    row-gap: 1.2rem;
    flex-wrap: wrap;
  }
  .featured-logos img {
    height: 1.8rem;
  }

  .step-number {
    margin-bottom: 2.4rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .card-meal {
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  }
  .card-meal:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.06);
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }

  .pricing-plan--complete::before {
    top: 6%;
    right: -10%;
  }

  .cta {
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
  }
  .cta-img-box {
    padding: 3.2rem;
    height: 32rem;
  }
  .cta-text-box {
    padding: 3.2rem;
  }

  .social-links {
    margin: 1.2rem auto;
  }

  .grid--footer {
    grid-template-areas:
      "nav1"
      "nav2"
      "nav3"
      "address"
      "logo";
  }
}

/****************************/
/** BELOW  500px (Phones: fix some bugs)*/
/*****************************/
@media (max-width: 31.25em) {
  .pricing-plan--complete::before {
    top: 7%;
    right: -12%;
  }
}
/****************************/
/** BELOW  360px (Phones: fix some bugs)*/
/*****************************/
@media (max-width: 22.5em) {
  .pricing-plan--complete::before {
    top: 6%;
    right: -20%;
  }
}
